# Backend excludes
backend/.vs/
backend/**/bin/
backend/**/obj/
backend/**/Properties/
backend/**/appsettings.Development.json
backend/**/*.csproj.user
backend/**/EntpFlow.http

# Frontend excludes
Frontend/entpflow-ui/.angular/
Frontend/entpflow-ui/.vscode/
Frontend/entpflow-ui/.git/
Frontend/entpflow-ui/node_modules/
Frontend/entpflow-ui/public/
Frontend/entpflow-ui/.editorconfig
Frontend/entpflow-ui/**/*.zip

export_departments.sql
export_projectmembers.sql
export_projects.sql
export_users.sql
export_roles.sql
export_tasks.sql
import_all.sql
import_final.sql
import_final2.sql
import_users_clean.sql
users_check.txt
sync-data.sql